<h1 *ngIf="!isEdit" >Creation {{type}}</h1>
<h1 *ngIf="isEdit" >Edit {{type}}</h1>

<div class="inputPosition">
  <mat-form-field class="input">
    <mat-label>
      Title
    </mat-label>
    <input matInput type="text" [value]="title" #titleInput>
    <button mat-button *ngIf="titleInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="titleInput.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field class="input">
    <mat-label>
      Content
    </mat-label>
    <input matInput [value]="content" #contentInput/>
    <button mat-button *ngIf="contentInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="contentInput.value=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>


<button mat-button *ngIf="!isEdit" (click)="savePost(titleInput.value, contentInput.value)">Create</button>
<button mat-button *ngIf="isEdit" (click)="updatePost(titleInput.value, contentInput.value)">Edit</button>


