.container {
  padding: 40px;
  display: flex;
  flex-direction: row;
}

.title {
  margin-bottom: 0;
  font-size: 30px;
}

.goBack {
  margin-right: 20px;
}

.text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fullContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
